@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Lato", sans-serif
font-family: "Playfair Display", serif */

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
/* ------navbar-------- */
.size {
    height: 120px; 
}

.form-control {
    margin: auto;
}
.colorbarra{
    background-color: #DBC8AC !important;
    box-shadow: 10px 0px 10px #B73E3E !important;
}
.buttonbuscar{
    background-color: #B73E3E !important;
    color: #eddbc0 !important;
    border:none !important;
    box-shadow: 2px 2px 2px 2px !important;
}

/* -----------------------------------index----- */
/* ----------main-------- */
/* banner */
.banner{
    
    display: grid;
    grid-template-columns: repeat(2,500px);
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eddbc0;
    box-shadow: 10px 0px 10px #B73E3E;
}
.banner div{
text-align: center;
    margin:10px

}
.logo-completo {
    width: 300px;
    height: 300px;
}


main h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
}

.gotita-size {
    width: 200px;
    height: 200px;
}

main ul li {
    display: list-item;
    list-style-type: circle;
    padding: 10px;
    margin: 20px;
    font-family: "Playfair Display", serif;
}

/* ---------------------------------------------donantes */
button {
    background-color: #B73E3E;
    padding: 20px;
    margin: 40px;

}

button a {
 color: black;
    border: #B73E3E 2px;
    display: flex;
    border-radius: 20px;
text-decoration: none;

}


/* -----------------------------------------------pacientes ambulatorios */

ol{
    padding: 20px;
    margin: 10px;
}

.turnos{
    padding: 10px;

}

/* ----------------------------------------------------------contactanos */


/* ----------------------------------------------------------footer */

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color:#eddbc0;
    background-color: #B73E3E;
    text-align: center;
    font-size: 13px;
}

div a{
    color: #eddbc0;
    text-decoration: none;
}
.bi{
    color:#eddbc0 !important; 
    margin: 10px;
    }

.menufooter li {
    list-style-type: none;
    
}
.menufooter ul{
padding-left: 0px !important;    
}

h6{
    font-weight: bolder;
}